.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}
.stitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    text-decoration: underline;
    margin-bottom: 5rem;

}
.card1{
    height: 30rem;
    width: 20rem;
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   cursor: pointer;
   transition: transform .1s;
}
.card1:hover{
    transform: scale(1.1);
}
.card2{
    height: 30rem;
    width: 20rem;
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   cursor: pointer;
   transition: transform .1s;
}
.card2:hover{
    transform: scale(1.1);
}

.card3{
    height: 30rem;
    width: 20rem;border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   cursor: pointer;
   transition: transform .1s;
}
.card3:hover{
    transform: scale(1.1);
}
.sbtn{
    margin-left: 5rem;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 5px;
}
.sbtn:hover{
    background-color: black;
}
@media screen and (max-width:720px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .main>*{
        margin-left: 5rem;
        margin-top: 5rem;
    }
}