.ihead{
    text-align: center;
    text-decoration: underline;
}
.iimg{
    height: 10rem;
    width: 10rem;
}
.indust{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.indust2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media screen and (max-width:720px) {
    .indust{
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
    }
    .indust2{
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
    }
}