.header{
    height: 4rem;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
}
.topleft{
    display: flex;
    gap: 2rem;
}
.topleft>*{
    font-size: 1.4rem;
}
#about:active{
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
}
a:visited{
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
}


