.contact{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.cutitle{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
}
.lets{
    width: 30rem;
    height: 42rem;
    padding: 5rem;
    box-sizing: border-box;
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 8rem;
}
.cbtn{
    width: 5rem;
    margin-left: 8rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 5px;
    transition: transform .1s;
}
.cbtn:hover{
    transform: scale(1.1);
}
.cdetails{
    display: flex;
    flex: 1;
    margin-top: 15rem;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
@media screen and (max-width:720px) {
    .contact{
        display: flex;
        flex-direction: column;
    }
    .lets{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }
}