.car{
    height: 91vh;
    margin-bottom: 5rem;
    width: 100%;
    background-color: #2c2c2c;
    
}
.car1{
    display: flex;
}
.carbtn{
    box-sizing: border-box;
    height: 3rem;
    width: 10rem;
    border-radius: 15px;
    font-size: larger;
    font-weight: bolder;
    margin-left: 20rem;
}
.con{
    color: aliceblue;
    margin-left: 8rem;
    padding-top: 10rem;
    
}
.con>p{
    margin-top: 2rem;
}
.carimg{
    margin-left: 5rem;
    margin-top: 3rem;
}
@media screen and (max-width:720px) {
    .car1{
        display: flex;
        flex-direction: column;
    }
    .con>h1{
        padding: 2rem;
        
    }
    .con{
        margin-top: 7rem;
        margin-left: 0; 
        padding: 2rem;
       }
    .carimg{
        display: none;
    }
    .carbtn{
        margin-left: 8rem;
        margin-top: 2rem;
    }
    
}